div{
    width: 1350px;
    margin: 0 200px;
}
#FortuneViz{
    margin:0 100px;
}
p{
    font-size: 1.3em;
    line-height: 1.5rem;
}
button{
    background-color: gray; /* Gray */
    border: none;
    color: white;
    width:100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    opacity: 0.5;
    color: white;
  }
text{
    font-size: 2em;
    fill: black;
}
.tick text{
    font-size: 1.3em;
    fill:gray;

}
.tick line{
    stroke:gray
}

.yAxis-label{
    font-size: 2.5em;
    fill:gray;
}
.highlight {
    stroke: black;
    opacity: 0.8;
}
.value{
    fill:black;
    font-size: 1em;
}
.legendtext{
    font-size:0.9em;
}
.tooltip{
    font-size: 1em;
}
.annotation text{
    font-size: 15px;
    fill: gray;
}
.annotation path{
    stroke-dasharray: 5;
}
.dline{
    stroke: lightblue;
    stroke-width: 3;
    stroke-dasharray: 5;
}
.diff{
    font-size: 0.8em;
}
